paddlehub==2.4.0
PyQt6==6.4.2
pyqt6-tools==6.4.2.3.3
pyautogui==0.9.54
rembg==2.0.52
Pillow==10.1.0
pygame==2.5.2
paddleocr==2.7.0.3
paddlepaddle==2.5.2
layoutparser-0.0.0-py3-none-any.whl
matplotlib==3.2.2
numpy==1.18.5
ocrd-fork-pylsd==0.0.3
opencv-python==4.6.0.66
scipy==1.5.0
opencv-contrib-python==4.6.0.66
docarray==0.21.0
PyMuPDF==1.20.2
python-docx==1.1.0
PyPDF2==3.0.1